# PUBLIC CONFIG
name: 'project_name'
version: '0.0.0'
description: 'project_description'
author: 'author_name <email@gmail.com>'
main: 'mainfile'
license: 'MIT'
repository:
  type: 'git'
  url: 'https://github.com/repo_id/project_name.git'
bugs:
  url: 'https://github.com/repo_id/project_name/issues'
homepage: 'https://github.com/repo_id/project_name'
Keywords: [
  'your keywords'
]

# BOWER CONFIG
bower:
  dependencies: []
  devDependencies: []

# NPM CONFIG
npm:
  bin: {}
  scripts:
    test: ''
  dependencies: []
  devDependencies: []

# NPB CONFIG
npb:

#  bower:
#    root_allow: true
  npm:
    commander: 'npm' # default
    # commander: 'cnpm'

# -- build tools --
#  build: 'gulp'  # default
#  build: 'grunt'
