# PUBLIC CONFIG
name: 'project name'
version: '0.0.0'
description: 'project description'
author: 'author name <email@gmail.com>'
Keywords: 'your keywords'
main: 'index.coffee'
license: 'MIT'

# BOWER CONFIG
bower:
  dependencies: []
  devDependencies: []

# NPM CONFIG
npm:
  bin: {}
  repository:
    type: 'git'
    url: 'https://github.com/id/project_name.git'
  bugs:
    url: 'https://github.com/id/project_name/issues'
  homepage: 'https://github.com/id/project_name'
  scripts:
    test: ''
  dependencies: []
  devDependencies: []

# NPB CONFIG
npb:

# -- build tools --
#  build: 'gulp'  # default
#  build: 'grunt'

#  bower:
#    root_allow: true
  npm:
    commander: 'npm' # default
    # commander: 'cnpm'
