# NPB npb config
name: 'npb-coffee'
version: '0.1.4'
description: 'An auxiliary tool to help developer build node project more convenient.'
author: ':FooTearth <footearth@gmail.com>'
main: 'bin/npb.coffee'
bin:
  npb: 'bin/npb.coffee'
license: 'MIT'
repository:
  type: 'git'
  url: 'https://github.com/Mooxe000/npb.git'
bugs:
  url: 'https://github.com/Mooxe000/npb/issues'
homepage: 'https://github.com/Mooxe000/npb'
keywords: [
  'command'
  'auxiliary'
  'tool'
  'bower'
  'npm'
  'grunt'
  'gulp'
  'build'
  'coffee'
]

bower:
  dependencies: []
  devDependencies: []

npm:
  scripts:
    test: ''
    reinstall: 'reinstall.sh'
  dependencies: [
    'shelljs'
    'lodash'
    'thenjs'
    'jsonfile'
    'coffee-script'
    'fs-extra'
    'del'
#    'eyes'
#    'walk-sync'
  ]
  devDependencies: []

npb:
  bower:
    root_allow: true
  npm:
#    commander: 'npm'
    commander: 'cnpm'
